.App {
  padding: 0 200px;
}

.App header {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.App h1 {
  margin-bottom: 10px;
  color: #0070c9;
  width: fit-content;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
