.podcaster-list__container {
  display: flex;
  flex-direction: column;
}

.podcaster-list__input {
  align-self: end;
  margin-bottom: 100px;
  width: 400px;
}

.podcaster-list__list {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 15% 15% 15%;
  gap: 30px;
  justify-content: center;
}

.podcaster-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 200px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.podcaster-list__item:hover {
  transform: scale(1.1);
}

.podcaster-list__item img {
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.podcaster-list__item div {
  height: calc(100% - 50%);
  margin-top: 40%;
  text-align: center;
  padding: 0 20px 20px;
}

.podcaster-list__item h3 {
  margin: 0;
  margin-bottom: 10px;
}

.podcaster-list__item p {
  margin: 0;
}

.podcaster-list__item__link {
  text-decoration: none;
  color: 'inherit';
  height: '100%';
}
